hidden = ["target", ".cargo"]
modules = ["nodejs-20:v8-20230920-bd784b9", "rust-stable:v4-20240117-0bd73cd"]
run = "npm run start"

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "npm run start"]
